.videoMetaData {
    &-top {
        &-body {
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            &__item {
                .item {
                    margin-right: 10px;
                }
            }
        }
    }
    &-channel {
        display: flex;
        align-items: center;
        img {
            border-radius: 50%;
        }
    }
    &-description {
        margin-top: 10px;
        max-width: 600px;
        font-weight: 500;
        font-size: 14px;
    }
}
